# ----------------------
# .NET
# ----------------------
bin/
obj/
*.user
*.suo
*.cache

# ----------------------
# Node / React
# ----------------------
node_modules/
dist/
build/



# ----------------------
# Logs
# ----------------------
*.log

# ----------------------
# OS files
# ----------------------
.DS_Store
Thumbs.db

# ----------------------
# IDE / Editor
# ----------------------
.vscode/
.idea/